.theme-container .navbar,
.theme-container .sidebar {
  background-color: #303030;
}
.sidebar-group:not(.collapsable) .sidebar-heading {
  color: #FFF;
}
.navbar .site-name{
  display: none;
}
a.sidebar-link {
  color: #dddcdc;
}
.theme-container .navbar {
  border-bottom: 1px solid #acacac;
}
@media (max-width: 719px) {
  .dropdown-wrapper .nav-dropdown .dropdown-item h4, .dropdown-wrapper .nav-dropdown .dropdown-item > a {
    color: #FFF;
  }
  .theme-container .nav-links {
    border-bottom: 1px solid #acacac;
  }
}

.navbar .links {
  background-color: #303030;
}
.nav-links .title{
  color: #FFF
}
.sidebar-button .icon {
  color: #FFF;
}

.theme-container .search-box input,
.theme-container .search-box .suggestion a {
  color: #009688;
}

.theme-container .content code {
  background-color: #2e3d44;
}